NEXT_PUBLIC_API_URL=https://cashif-001-site3.anytempurl.com/
API_URL=https://cashif-001-site3.anytempurl.com/

NEXT_PUBLIC_SHIPPING_MOYASAR_TEST_KEY=pk_test_mnK3NxqkWZzScvnix7UFbad4qbwgzoLcD3DKvYRr
NEXT_PUBLIC_SHIPPING_MOYASAR_LIVE_KEY=pk_live_jEdE8NoP5w2jz1kxK2DcF6MzdSdbmXCVNYqnxTNm
